@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gulzar&family=Lato&family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@600;700&family=Poppins:wght@200;300&family=Short+Stack&family=Tiro+Kannada&family=Titillium+Web:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Gulzar&family=Lato&family=Merriweather+Sans&family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@600;700&family=Poppins:wght@200;300&family=Short+Stack&family=Tiro+Kannada&family=Titillium+Web:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Francois+One&family=Gulzar&family=Lato&family=Merriweather+Sans&family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@600;700&family=Poppins:wght@200;300&family=Short+Stack&family=Tiro+Kannada&family=Titillium+Web:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Francois+One&family=Gulzar&family=Lato&family=Merriweather+Sans&family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@600;700&family=Poppins:wght@200;300&family=Roboto+Condensed&family=Short+Stack&family=Tiro+Kannada&family=Titillium+Web:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Francois+One&family=Gulzar&family=Lato&family=Merriweather+Sans&family=Noto+Sans+JP:wght@700&family=Noto+Sans:wght@600;700&family=Poppins:wght@200;300&family=Roboto+Condensed&family=Short+Stack&family=Tiro+Kannada&family=Titillium+Web:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.title_bar {
  background-color: #f7f8f8;
  height: 50px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
}

.Left_title ul,
.Right_title ul {
  display: flex;
  padding: 10px;
}

.Left_title ul li,
.Right_title ul li {
  list-style-type: none;
  padding: 0 10px;
}

.Left_title ul li a,
.Right_title ul li a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Merriweather Sans', sans-serif;
  color: #aaa9b7;
  font-weight: 500;
  letter-spacing: 1px;
}

.Left_title ul li a:hover,
.Right_title ul li a:hover {
  color: #000;
  transition: 0.5s ease-out;
  cursor: pointer;
}

.Left_title ul li span .hovertext {
  position: relative;
}

.Left_title ul li span .hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0px;
  width: 140px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.content {
  background-color: #fff;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  box-shadow: 5px 5px 10px #aaa9b73a;
  top: 3rem;
}

.logo {
  padding: 15px;
}

.navigations ul {
  display: flex;
  /* padding: 10px; */
}

.navigations ul li {
  list-style-type: none;
}

.navigations ul li a {
  text-decoration: none;
  font-family: 'Francois One', sans-serif;
  padding: 0 10px;
  color: #aaa9b7;
  font-size: 16px;
  line-height: 64px;
  font-weight: 400;
  letter-spacing: 1px;
}

.navigations ul li a:hover {
  color: #000;
  transition: 0.5s ease-out;
}

.Container1 {
  height: 700px;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-content: center;
}

.cards {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.left_cards {
  width: 49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_left {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2021/10/pichaiethics.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  height: 60%;
}

.top_left h1 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 12px;
  letter-spacing: -0.2px;
  padding: 200px 0 10px 30px;
}

.top_left h2 {
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  font-size: 48px;
  line-height: 48px;
  padding-left: 20px;
}

.bottom_left {
  background-image: url(./images/cal.png);
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.5);
  height: 38%;
}

.bottom_left h2 {
  padding: 60px 0 10px 20px;
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  font-size: 48px;
  line-height: 40px;
}

.bottom_left h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 24px;
  color: #fff;
  padding: 10px 0 40px 20px;
}

.bottom_left span {
  padding: 0px 0 20px 30px;
}

span button {
  padding: 15px 30px;
  background-color: transparent;
  border-radius: 50px;
  border-color: #fff;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  z-index: -1;
}

span button:hover {
  border-width: 3px;
  transition: 0.5s ease-out;
}

.right_cards {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top_right {
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.small_left {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2022/07/comparison-final-.jpg);
  background-size: cover;
  width: 49%;
  background-color: rgba(0, 0, 0, 0.9);
  background-size: 200% 150%;
}

.small_left h1,
.small_right h1 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 12px;
  text-shadow: #000;
  letter-spacing: -0.2px;
  padding: 100px 0 10px 30px;
}

.small_left h4,
.small_right h4 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-shadow: 5px 5px 10px #000;
  font-size: 28px;
  line-height: 30px;
  padding-left: 30px;
}

.small_right {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2022/07/comparison-final-.jpg);
  background-size: cover;
  width: 49%;
  background-color: rgba(0, 0, 0, 0.5);
}

.bottom_right {
  background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2022/07/Untitled-design-92-8.jpg);
  background-size: cover;
  height: 59%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.bottom_right h1 {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  line-height: 12px;
  text-shadow: #000;
  letter-spacing: -0.2px;
  padding: 150px 0 10px 50px;
}

.bottom_right h2 {
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  font-size: 48px;
  line-height: 48px;
  padding-left: 20px;
}

.container2 {
  height: 150px;
  background-color: #fff;
  padding-top: 80px;
}

.container2 span h1 {
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  font-size: 45px;
  line-height: 50px;
  text-transform: capitalize;
  padding-bottom: 40px;
}

.top_cards {
  display: flex;
  justify-content: space-around;
  height: 100px;
  padding-bottom: 50px;
}

.card_1,
.card_2,
.card_3,
.card_4,
.card_5 {
  width: 18%;
  padding: 20px;
}

.card_1 ul li a img,
.card_2 ul li a img,
.card_3 ul li a img,
.card_4 ul li a img,
.card_5 ul li a img {
  padding-bottom: 20px;
}

.card_1 ul li,
.card_2 ul li,
.card_3 ul li,
.card_4 ul li,
.card_5 ul li {
  list-style: none;
}

.card_1 ul li a,
.card_2 ul li a,
.card_3 ul li a,
.card_4 ul li a,
.card_5 ul li a {
  text-decoration: none;
}

.card_1 ul li a p,
.card_2 ul li a p,
.card_3 ul li a p,
.card_4 ul li a p,
.card_5 ul li a p {
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-size: 20px;
  font-weight: bolder;
  line-height: 28px;
  letter-spacing: 0.9px;
  padding-left: 20px;
}

p:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #000;
  transition: 5s ease-out;
}

.container3 {
  height: 1500px;
  background-color: #fff;
  padding-top: 400px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 95%;
}

.container3 span h1 {
  font-family: 'Archivo Black', sans-serif;
  font-size: 40px;
  line-height: 22px;
  text-transform: capitalize;
  padding: 20px 0 0 30px;
}

.container3a,
.container3b,
.container3c {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.classA,
.classB,
.classC,
.classD,
.classE,
.classF,
.classG,
.classH,
.classI,
.classJ,
.classK,
.classL {
  width: 24%;
}

/* .classA * {
  padding: 1px;
} */

a {
  text-decoration: none;
}

.classA h2,
.classB h2,
.classC h2,
.classD h2,
.classE h2,
.classF h2,
.classG h2,
.classH h2,
.classI h2,
.classJ h2,
.classK h2,
.classL h2 {
  font-family: 'Francois One', sans-serif;
  font-size: 15px;
  padding-top: 10px;
  font-weight: 100;
  color: #aaa9b7;
}

.classA h2:hover,
.classB h2:hover,
.classC h2:hover,
.classD h2:hover,
.classE h2:hover,
.classF h2:hover,
.classG h2:hover,
.classH h2:hover,
.classI h2:hover,
.classJ h2:hover,
.classK h2:hover,
.classL h2:hover {
  color: #000;
  transition: 0.5s ease-in-out;
}

.classA p,
.classB p,
.classC p,
.classD p,
.classE p,
.classF p,
.classG p,
.classH p,
.classI p,
.classJ p,
.classK p,
.classL p {
  padding-top: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #000;
  font-size: 20px;
  letter-spacing: 0.3px;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

.classA p:hover,
.classB p:hover,
.classC p:hover,
.classD p:hover,
.classE p:hover,
.classF p:hover,
.classG p:hover,
.classH p:hover,
.classI p:hover,
.classJ p:hover,
.classK p:hover,
.classL p:hover {
  transition: 0.5s ease-in-out;
  text-decoration: 2px rgba(135, 189, 243, 0.582) underline;
}

.btn_wrapper {
  text-align: center;
  padding-top: 100px;
}

.latest {
  background: #6644ff;
  color: #fff;
  padding: 1rem 2rem;
  border: 1px solid #6644ff;
  border-radius: 23px;
  outline: none;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar_news {
  padding-top: 100px;
  height: 400px;
  width: 100%;
  text-align: center;
  background-color: #6644ff;
}

.navbar_news h1 {
  color: #fff;
  font-family: 'Archivo Black', sans-serif;
  font-size: 80px;
  line-height: 90px;
  padding-bottom: 10px;
}

.navbar_news h2 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
}

.navbar_news h2 a {
  text-decoration: none;
  color: cyan;
}

.navbar_news h2 a:hover {
  color: rgba(255, 255, 255, 0.185);
  transition: 0.5s ease-out;
}
